<section
  class="trade-in-benefits d-flex flex-column justify-content-center p-2 m-3"
>
  <header class="section-header p-3">
    <h2 class="section-title">
      TRADE-IN WITH <span class="highlight">CONFIDENCE</span>: QUICK, EASY, AND
      VALUABLE AT FIRST CHOICE CARS
    </h2>
  </header>
  <h3 class="benefits-title p-3">
    Things to <span class="highlight">Consider</span>
  </h3>
  <ul class="benefits-list">
    <li class="benefit-item">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/4431720442a34f5886a578eaf790e769/d01308ed727e183aeb035fb58843ebb313b0d72ed87893fc4bdb6688b4311c63?apiKey=4431720442a34f5886a578eaf790e769&"
        alt=""
        class="benefit-icon"
      />
      <span class="benefit-text">Competitive Value</span>
    </li>
    <li class="benefit-item">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/4431720442a34f5886a578eaf790e769/896ae80738f548e00bb0d4c65e5e2c61b7d8008b03956852279e2f755ba6a8a4?apiKey=4431720442a34f5886a578eaf790e769&"
        alt=""
        class="benefit-icon"
      />
      <span class="benefit-text">Hassle Free Process</span>
    </li>
    <li class="benefit-item">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/4431720442a34f5886a578eaf790e769/4449b48ebe42eafaf100fe3b859ef77426e41d4ae8a9560f554c37f5fa546c82?apiKey=4431720442a34f5886a578eaf790e769&"
        alt=""
        class="benefit-icon"
      />
      <span class="benefit-text">Instant Credit</span>
    </li>
    <li class="benefit-item">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/4431720442a34f5886a578eaf790e769/601e80f9003e92d0c167b7cee5f358cdc0e0723614b993394cb1640416f55712?apiKey=4431720442a34f5886a578eaf790e769&"
        alt=""
        class="benefit-icon"
      />
      <span class="benefit-text">Convenient Inspections</span>
    </li>
    <li class="benefit-item">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/4431720442a34f5886a578eaf790e769/a3f5c4585532a22b943efabd495084ed690f029993f475f557125b82d41680de?apiKey=4431720442a34f5886a578eaf790e769&"
        alt=""
        class="benefit-icon"
      />
      <span class="benefit-text">Loan Flexibility</span>
    </li>
    <li class="benefit-item">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/4431720442a34f5886a578eaf790e769/2b545e5bd09ed845de9c5cbd6b2f9c89fa02da74dfdc79c190e3b8e5a5fef7d0?apiKey=4431720442a34f5886a578eaf790e769&"
        alt=""
        class="benefit-icon"
      />
      <span class="benefit-text">Honest Valuation</span>
    </li>
    <li class="benefit-item">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/4431720442a34f5886a578eaf790e769/280d93e8f3f292ae7fc52a6204184242739e3ef86e340dbfeb5e47141f4171ed?apiKey=4431720442a34f5886a578eaf790e769&"
        alt=""
        class="benefit-icon"
      />
      <span class="benefit-text">Simplified paperwork</span>
    </li>
  </ul>
</section>
