<section class="trade-in-process d-flex flex-column justify-content-center p-2">
  <h2 class="section-title">SELL YOUR CAR ON CONSIGNMENT</h2>
  <div class="process-details">
    <ul class="trade-in-reasons">
      <li class="reason-item">
        <h4 class="reason-title">TRADE-IN YOUR CAR WITH FAST AND EASY</h4>
        <p class="reason-description">
          Get the best market value when you trade-in your used vehicle with
          First Choice Cars. We make the process simple and hassle-free.
          Trade-in your car for a brand new one and spend less time dealing with
          paperwork and more time enjoying your new ride.
        </p>
      </li>
      <li class="reason-item">
        <h4 class="reason-title">WHY TRADE-IN WITH US?</h4>
        <p class="reason-description">
          At First Choice Cars, we make trading in your car a seamless and
          rewarding experience. Here are some of the reasons why you should
          choose us:
        </p>
      </li>
      <li class="reason-item">
        <h4 class="reason-title">COMPETITIVE VALUE</h4>
        <p class="reason-description">
          We offer you top prices for your trade-in by keeping up with the
          latest market trends in the UAE. This means you get the best value for
          your car, making it a smart choice to trade in with us.
        </p>
      </li>
      <li class="reason-item">
        <h4 class="reason-title">EASY PROCESS</h4>
        <p class="reason-description">
          Trading your car is simple with us. Just bring in your car for an
          inspection, and we'll handle everything from there. No stress, no
          hassle—just a smooth and easy process.
        </p>
      </li>
      <li class="reason-item">
        <h4 class="reason-title">INSTANT CREDIT</h4>
        <p class="reason-description">
          Once your car is evaluated, you can immediately use the trade-in value
          to purchase a new vehicle from our extensive inventory.
        </p>
      </li>
      <li class="reason-item">
        <h4 class="reason-title">CONVENIENT INSPECTIONS</h4>
        <p class="reason-description">
          We make it easy for you by offering inspections at our showroom or at
          your home. Choose the option that is most convenient for you, and we
          will take care of the rest.
        </p>
      </li>
      <li class="reason-item">
        <h4 class="reason-title">LOAN FLEXIBILITY</h4>
        <p class="reason-description">
          If your car has an outstanding loan, we provide comprehensive support
          by managing all the paperwork and settling the loan on your behalf.
          This ensures a smooth and stress-free trade-in experience.
        </p>
      </li>
      <li class="reason-item">
        <h4 class="reason-title">FAIR AND TRANSPARENT VALUATION</h4>
        <p class="reason-description">
          Our team of experts gives you a transparent and fair valuation of your
          car, taking into account its make, model, age, mileage, and condition.
          You can trust that you are getting a fair deal.
        </p>
      </li>
      <li class="reason-item">
        <h4 class="reason-title">STREAMLINED PAPERWORK</h4>
        <p class="reason-description">
          We reduce the amount of paperwork required for trade-in transactions,
          making the process smooth and quick.
        </p>
      </li>
    </ul>
  </div>
</section>
