<main class="trade-in-step1">
  <header class="hero-section">
    <img
      src="https://cdn.builder.io/api/v1/image/assets/4431720442a34f5886a578eaf790e769/42389cfb33d7fb084b817124e73dfcc7d7eb900e545cb3b6a1fcd234f2951626?apiKey=4431720442a34f5886a578eaf790e769&"
      alt="Trade-in background image"
      class="hero-image"
    />
    <h1 class="hero-title">Trade-in <span class="highlight">YOUR CAR</span></h1>
  </header>
  <nav class="breadcrumb">
    <span>Home</span>
    <span>/ Buy Cars</span>
    <span>/ 2018 Toyota Yaris 1.5L SE</span>
    <span>/ Trade in</span>
  </nav>
  <section class="content-wrapper d-flex justify-content-center p-2">
    <app-display-card></app-display-card>
    <app-trade-in-form></app-trade-in-form>
  </section>
  <!-- Value Proposition -->
  <app-value-proposition></app-value-proposition>
  <!-- Sell Consignment -->
  <app-sell-consignment></app-sell-consignment>
  <!-- How It Works -->
  <app-how-it-works></app-how-it-works>
  <!-- FAQs -->
  <app-faqs></app-faqs>
</main>
