.trade-in-step1 {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 991px) {
  .trade-in-step1 {
    padding: 100px 0;
  }
}

.hero-section {
  position: relative;
  min-height: 344px;
  width: 100%;
  padding: 144px 70px 110px;
}

@media (max-width: 991px) {
  .hero-section {
    max-width: 100%;
    padding: 100px 20px 110px;
  }
}

.hero-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-title {
  position: relative;
  color: #e4c481;
  text-transform: uppercase;
  font: 800 48px Raleway, sans-serif;
}

.highlight {
  color: #fff;
}

.breadcrumb {
  display: flex;
  width: 100%;
  font-family: Gotham, sans-serif;
  padding: 60px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

@media (max-width: 991px) {
  .breadcrumb {
    max-width: 100%;
    padding: 0 20px;
  }
}

.content-wrapper {
  display: flex;
  margin-top: 16px;
  width: 100%;
  gap: 40px;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .content-wrapper {
    max-width: 100%;
  }
}



