<main class="main-container">
  <header class="hero-banner">
    <img
      src="/assets/Images/trade-in-hero.png"
      alt="Trade-in background image"
      class="hero-image"
    />
    <h1 class="hero-title">Trade-in <span class="highlight">YOUR CAR</span></h1>
  </header>
  <nav class="breadcrumb">
    <span>Home</span>
    <span>/ Buy Cars</span>
    <span>/ 2018 Toyota Yaris 1.5L SE</span>
    <span>/ Trade in</span>
  </nav>
  <section class="d-flex gap-3 flex-wrap justify-content-center p-2 mt-1">
    <app-display-card></app-display-card>
    <app-trade-in-form></app-trade-in-form>
  </section>
  <!-- Value Proposition -->
  <app-value-proposition></app-value-proposition>
  <!-- Sell Consignment -->
  <app-sell-consignment></app-sell-consignment>
  <!-- How It Works -->
  <app-how-it-works></app-how-it-works>
  <!-- FAQs -->
  <app-faqs></app-faqs>
</main>
