<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Logo and Social Media Icons -->
      <div class="col-lg-3 col-md-12 col-sm-12 mb-5 d-flex flex-column align-items-center">
        <img src="/mobile-logo.svg" alt="Logo" class="footer-logo" />
        <div class="social-icons">
          <i class="fab fa-twitter" style="color: aqua"></i>
          <i class="fab fa-facebook" style="color: blue"></i>
          <i class="fab fa-instagram" style="color: palevioletred"></i>
          <i class="fab fa-linkedin" style="color: blue"></i>
          <i class="fab fa-youtube" style="color: red"></i>
          <i class="fab fa-snapchat" style="color: yellow"></i>
          <i class="fab fa-tiktok" style="color: black"></i>
        </div>
      </div>

      <!-- General Links -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h5 class="footer-title">General Links</h5>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Buy Cars</a></li>
          <li><a href="#">Commercial Vehicles</a></li>
          <li><a href="#">Sell Cars</a></li>
          <li><a href="#">Finance</a></li>
          <li><a href="#">Consignment</a></li>
          <li><a href="#">Request Car</a></li>
          <li><a href="#">Sold Cars</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <!-- Useful Links -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h5 class="footer-title">Useful Links</h5>
        <ul class="footer-links">
          <li><a href="#">Blogs/Tips</a></li>
          <li><a href="#">Offers</a></li>
          <li><a href="#">FAQ'S</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Reservation Policy</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>

      <!-- Contact Us -->
      <div class="col-lg-3 col-md-12 col-sm-12">
        <div
          class="contact-card d-flex flex-column justify-content-center align-items-center"
        >
          <h5 class="footer-title">Contact Us</h5>
          <div class="contact-info">
            <p>
              <i class="fas fa-map-marker-alt"></i> Main Branch:<br />
              SHOWROOM NO 70, SOUQ AL HARAJ, AL RUGA AL HAMRA, SHARJAH, UAE
            </p>
            <p><i class="fas fa-phone"></i> +97165457777</p>
            <p><i class="fas fa-envelope"></i> info&#64;firstchoicecars.ae</p>
            <p>
              <i class="fas fa-clock"></i> Sat - Thu : 09am to 09pm<br />
              Fri : 04pm to 09pm
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <p>&copy; First Choice Cars 2023 <span>All Rights Reserved.</span></p>
    </div>
  </div>
</footer>
