<article class="car-details">
  <img [src]="imageUrl" [alt]="carName" class="car-image" />
  <div class="car-info">
    <h2 class="car-title">
      <span class="car-year">{{ carYear }}</span>
      <br />
      <span class="car-model">{{ carName }}</span>
    </h2>
    <ul class="car-specs">
      <li class="spec-item">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/4431720442a34f5886a578eaf790e769/8392a0bb0bdc85ffb1af18898c648c44df3d43e1efe131bde198e482b945551f?apiKey=4431720442a34f5886a578eaf790e769&"
          alt="Mileage icon"
          class="spec-icon"
        />
        <span>{{ mileage }}</span>
      </li>
      <li class="spec-item">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/4431720442a34f5886a578eaf790e769/7a88230a927581643dbb57f764e43d084acd7d1700406546f82adfaf307c3258?apiKey=4431720442a34f5886a578eaf790e769&"
          alt="Engine icon"
          class="spec-icon"
        />
        <span>{{ transmission }}</span>
      </li>
      <li class="spec-item">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/4431720442a34f5886a578eaf790e769/7a88230a927581643dbb57f764e43d084acd7d1700406546f82adfaf307c3258?apiKey=4431720442a34f5886a578eaf790e769&"
          alt="Engine icon"
          class="spec-icon"
        />
        <span>{{ engineSize }}</span>
      </li>
      <li class="spec-item">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/4431720442a34f5886a578eaf790e769/b780b3d1baeaefa314f6b0d9d6face6f783ebf3f819fdf9a5cef25db8a847bfb?apiKey=4431720442a34f5886a578eaf790e769&"
          alt="Seats icon"
          class="spec-icon"
        />
        <span>{{ seats }}</span>
      </li>
    </ul>
    <div class="price-info">
      <p class="price">
        {{ price }}
        <span class="price-note">Exclusive of VAT</span>
      </p>
      <p class="emi">
        Starts from
        <br />
        <strong>{{ emi }}</strong>
      </p>
    </div>
  </div>
</article>
