<article class="car-details">
  <img [src]="imageUrl" [alt]="carName" class="car-image" />
  <div class="car-info">
    <h2 class="car-title">
      <span class="car-year">{{ carYear }}</span>
      <br />
      <span class="car-model">{{ carName }}</span>
    </h2>
    <ul class="car-specs">
      <li class="spec-item">
        <img
          src="/assets/Images/mileage-icon.svg"
          alt="Mileage icon"
          class="spec-icon"
        />
        <span>{{ mileage }}</span>
      </li>
      <li class="spec-item">
        <img
          src="/assets/Images/engine-icon.svg"
          alt="Engine icon"
          class="spec-icon"
        />
        <span>{{ transmission }}</span>
      </li>
      <li class="spec-item">
        <img
          src="/assets/Images/engine-icon.svg"
          alt="Engine icon"
          class="spec-icon"
        />
        <span>{{ engineSize }}</span>
      </li>
      <li class="spec-item">
        <img
          src="/assets/Images/seats-icon.svg"
          alt="Seats icon"
          class="spec-icon"
        />
        <span>{{ seats }}</span>
      </li>
    </ul>
    <div class="price-info">
      <p class="price">
        {{ price }}
        <span class="price-note">Exclusive of VAT</span>
      </p>
      <p class="emi">
        Starts from
        <br />
        <strong>{{ emi }}</strong>
      </p>
    </div>
  </div>
</article>
