.car-details {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  width: 433px;
  margin: auto; /* Center the card */
}

@media (max-width: 991px) {
  .car-details {
    max-width: 100%;
  }
}

.car-image {
  aspect-ratio: 1.66;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.car-info {
  padding: 16px;
}

.car-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  color: #1e1e1e;
  font-weight: 700;
  line-height: 22px;
}

.car-year {
  color: #997b4f;
}

.car-specs {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  color: #747474;
  padding: 16px 0;
  list-style-type: none;
}

.spec-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.spec-icon {
  width: 17px;
  height: 17px;
  object-fit: contain;
}

.price-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lexend, sans-serif;
}

.price {
  color: #000;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

.price-note {
  display: block;
  font-size: 14px;
  font-weight: 400;
}

.emi {
  background-color: #000;
  color: #e4c481;
  text-align: right;
  line-height: 19px;
  padding: 16px 29px;
  border-radius: 10px 0 10px 0;
}

@media (max-width: 991px) {
  .emi {
    padding: 16px 20px;
  }
}
