<section class="faq d-flex flex-column justify-content-center p-2">
  <header class="section-header">
    <h2 class="section-title">FAQS</h2>
    <div class="section-divider"></div>
  </header>
  <dl class="faq-list">
    <ng-container *ngFor="let faq of faqs; let i = index">
      <dt class="faq-question mb-2">
        {{ faq.question }}
        <button class="toggle-answer" aria-label="Toggle answer visibility" (click)="toggleFaq(i)">
          <img
            src="https://cdn.builder.io/api/v1/image/assets/4431720442a34f5886a578eaf790e769/60a729dda2604ac5392121b349b5b314ffc84a95d7c01f46f4559ef47d27682d?apiKey=4431720442a34f5886a578eaf790e769&"
            alt=""
            class="toggle-icon"
          />
        </button>
      </dt>
      <dd *ngIf="faq.isOpen" class="faq-answer">{{ faq.answer }}</dd>
    </ng-container>
  </dl>
</section>
