.faq {
  margin-top: 60px;
}

.section-header {
  text-align: center;
}

.section-title {
  font: 800 40px Raleway, sans-serif;
  color: #e4c481;
}

.section-divider {
  width: 42px;
  height: 4px;
  background-color: #000;
  margin: 23px auto;
}

.faq-list {
  margin-top: 35px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  padding: 24px;
  font: 700 24px Raleway, sans-serif;
  color: #000;
  cursor: pointer;
}

.toggle-answer {
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-icon {
  width: 34px;
  height: 34px;
}

.faq-answer {
  color: #747474;
  font: 400 20px/1 Gotham, sans-serif;
  margin-top: 24px;
  padding: 0 24px;
}

@media (max-width: 991px) {
  .section-title {
    font-size: 28px;
  }

  .faq-question {
    font-size: 20px;
    padding: 16px;
  }

  .faq-answer {
    font-size: 18px;
  }
}
