<section class="faq d-flex flex-column justify-content-center p-2">
  <header class="section-header">
    <h2 class="section-title">FAQS</h2>
    <div class="section-divider"></div>
  </header>
  <dl class="faq-list">
    <ng-container *ngFor="let faq of faqs; let i = index">
      <dt class="faq-question mb-2">
        {{ faq.question }}
        <button class="toggle-answer" aria-label="Toggle answer visibility" (click)="toggleFaq(i)">
          <img
            src="/assets/Images/minus.svg"
            alt=""
            class="toggle-icon"
          />
        </button>
      </dt>
      <dd *ngIf="faq.isOpen" class="faq-answer">{{ faq.answer }}</dd>
    </ng-container>
  </dl>
</section>
